body {
  background-color: #343638 !important;
}

.ironlog {
  height: 300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.h1 {
  color: white !important;
  text-align: center;
  margin-top: -20px !important;
  font-family: 'Skranji', cursive !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.ceo {
  height: 300px;
  width: auto;
  margin-right: 40px;
}

p {
  margin-left: 10px;
  font-family: 'Merienda', cursive;
  color: white;
}

.bio {
  display: flex;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

footer {
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.ag {
  color: white;
}

.container {
  margin-top: 80px;
}

.jumbotron {
  background-color: #4d5054 !important;
  border-style: solid;
  border-color: #4d5054;
}

h4 {
  color: white !important;
  text-align: center;
}

.img {
  margin: 0 auto;
}

.navbar-nav {
  font-family: 'Merienda', cursive;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb
*/

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner>.item.next, .carousel-fade .carousel-inner>.item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner>.item.prev, .carousel-fade .carousel-inner>.item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner>.item.next.left, .carousel-fade .carousel-inner>.item.prev.right, .carousel-fade .carousel-inner>.item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }



  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #222222;
    background-color: #222222;
    margin-top: 51px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #9D9D9D;
}

/* Change background color of buttons on hover */
.tab button:hover {

    color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: black;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid white;
    border-top: none;
}
.row{
  background-image: url(design.jpg);
}
